#bosque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/images/fondoleñador8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(10px);
}

/* Contenedor principal para el contenido de la sección de equipo */
.equipo-content {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
}

/* Título de la sección (Integrantes) */
.equipo-content>h1#C {
  background-color: #252525;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

/* Contenedor de la lista de integrantes en vertical */
.integrantes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* Cada integrante en una fila horizontal */
.integrante {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding: 3px;
  margin: 0 20px;
  border-radius: 200px 0 0 200px;
  border: 3px solid #242424;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

/* Imagen circular */
.integrante img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.69);
}

/* Texto de cada integrante */
.integrante p {
  padding: 10px;
  margin: 0 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

/* Nombres de los integrantes en blanco */
.integrante p strong {
  color: #fff;
}

/* Ajustar el título dentro del contenedor */
.tit {
  text-align: center;
  font-size: 42px;
  /* Tamaño grande */
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
  /* Elimina el margen superior */
  padding-top: 0px;
  /* Espacio mínimo dentro del contenedor */
  border-bottom: 3px solid #000;
  /* Línea más gruesa debajo */
}